node_modules/
.env
uploads/
*.sqlite
*.log
.DS_Store
.expo/
.vscode/
.cache/
.android/
.VirtualBox/
.ollama/
.wdm/
.ipython/
.lesshst
.bash_history
.config/
AppData/
Documents/
Downloads/
Music/
Pictures/
Videos/
Saved\
Games/
Tracing/
Favorites/
Links/
Searches/
Contacts/
OneDrive/
VirtualBox\
VMs/
NTUSER.DAT*
desktop.ini
splash.png
